@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Gentium+Book+Plus&family=Indie+Flower&family=Roboto&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Cousine', monospace; */
    font-family: 'Gentium Book Plus', serif;

    /* outline: 1px solid green !important; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

/* || VARIABLES */

/* COLOURS */

:root {
    /* COLOUR PALETTE:  */
    --COLOR-ONE: #f07575;
    --COLOR-TWO: #ecc2c2;
    --COLOR-THREE: #f5d5d5;
    --COLOR-FOUR: #eca3a3;
    --COLOR-FIVE: #f7b3b3;
    --COLOR-SIX: #833434;
    --COLOR-SEVEN: #333;

    --COLOR-TEXT: #4e2020;
    --COLOR-TEXT2: #fff;
}

.dark-mode {
    --COLOR-ONE: #5a99e2;
    --COLOR-TWO: #97cceb;
    --COLOR-THREE: #a3e8f1;
    --COLOR-FOUR: #a3cbec;
    --COLOR-FIVE: #c5ebe2;
    --COLOR-SIX: #7e7cec;
    --COLOR-SEVEN: #333333;
}

.green-mode {
    --COLOR-ONE: #80e25a;
    --COLOR-TWO: #44865d;
    --COLOR-THREE: #79b47e;
    --COLOR-FOUR: #17e44b;
    --COLOR-FIVE: #58975b;
    --COLOR-SIX: #6ac57e;
    --COLOR-SEVEN: #17a71e;
}


/* --- FONT PALETTE |||  */

:root {
    --FONT-ONE: 
}




/* NAVBAR */

.topnav {
    font-size: 7px;
    min-width: 100%;
    height: 45px;
    background-color: rgba(255, 182, 193, 0.8);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#LaraLogo {
    height: 40px;
    padding-left: 15px;
    margin-right: 15px;
}

.topnav h2 {
    font-size: 12px;
    padding-right: 15px;
    color: #d6afaf;
    font-family: cursive;
}

.topnav a {
    float: right;
    display: block;
    text-align: left;
    color: #3d1e1e;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.topnav a {
    /* float: left; */
    text-align: center;

    color: #3d1e1e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}


.topnav a:hover {
    background-color: #b38787;
    /* color: #a33131;  */
    color: white;
}


.topnav a:active {
    background-color: #04AA6D;
    color: white;
}

.topnav .active {
    background-color: rgb(187, 139, 143);
    color: white;
}


/* @media screen and (min-width: 600px) {} */

/* SECTION ONE (HERO Section) 'Lara Grogan - Singer/Songerwriter/Composer */


.section1 {
    background-color: bisque;
    background-image: url(images/4_2doctored.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}

#LARA {
    left: 30px;
    padding: 40px 35px 20px 62px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #E5C2C2;
    font-size: 60px;
}

.LARAunder600 {
    display: none;
}

#p1 {
    color: #fff;
    padding: 12px 35px 180px 68px;
    font-size: 34px;
}

#p1alt {
    display: none
}

.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 120px;
    padding-bottom: 80px;
}

.flex-container1>div {
    background-color: #9D4545;
    margin-left: 7px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 21px;
    border-radius: 10%;
}

.fa {
    padding: 30px;
    text-decoration: none;
}

.fa:hover {
    background-color: #b38787;
}


.fa-facebook {
    color: white;
    text-decoration: none;
}

/* .fa-facebook:hover {
    background-color: blue;
} */


.fa-instagram {
    color: white;
    text-decoration: none;
}

.fa-youtube {
    color: white;
    text-decoration: none;
}

.fa-tiktok {
    color: white;
    text-decoration: none;
}

#button1 {
    background-color: #be8e8e;
    padding: 15px;
    width: 150px;
    margin: 0 0 0 162px;
    border-radius: 5%;
    border: none;
    font-size: 19px;
    text-shadow: 1px 1px #c55f9a;
}

#button1:hover {
    background-color: #b38f8f;
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .section1 {

        height: 90vh;
    }

    #LARA {

        font-size: 44px;
        padding-left: 22px;
    }

    #p1 {
        font-size: 24px;
        padding-left: 22px;
        padding-bottom: 100px;

    }



    .flex-container1 {

        padding-left: 20px;
        padding-bottom: 80px;
    }

    #button1 {

        padding: 15px;
        width: 150px;
        margin: 0 0 0 36px;

    }

    #p1alt {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    .section1 {
        background-position: 10% 90%;
    }

    #LARA {
        font-size: 44px;
        padding-left: 22px;
    }

    #p1 {
        font-size: 24px;
        padding-left: 22px;
    }
}

@media screen and (max-width: 600px) {

    #LARA {
        display: none;
    }

    .LARAunder600 {
        display: block;
        left: 30px;
        padding: 37px 35px 20px 20px;
        word-wrap: break-word;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #E5C2C2;
        font-size: 44px;
    }

    #p1 {
        display: none;
        font-size: 26px;
    }

    #p1alt {
        display: block;
        color: #fff;
        padding: 12px 35px 100px 20px;
        font-size: 26px;
    }

    .section1 {
        background-position: 45% 55%;
        height: 80vh;
    }

    .flex-container1 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 16px;
        padding-bottom: 80px;
    }

    .flex-container1>div {
        background-color: #9D4545;
        margin-left: 7px;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 17px;
        border-radius: 10%;
    }

    #button1 {
        background-color: #be8e8e;
        padding: 15px;
        width: 150px;
        margin: 0 0 10px 25px;
        border-radius: 5%;
        border: none;
        font-size: 19px;
        text-shadow: 1px 1px #c55f9a;
    }
}


/* ------------------------------------------- */

/* SECTION TWO - 'The Music Experience you want to live' */


.section2 {

    background-color: hsl(0, 55%, 90%);
    background-image: url('images/patterns/eugene-golovesov-9XnldxAo178-unsplash.jpg');
    
    background-size: cover;
    background-position: center;
    /* border-radius: 20%; */
   
    
    padding-bottom: 0px;

    position: relative; 
    isolation: isolate;
}

.section2:after {
    content: "";
    position: absolute; 
    background-size: cover;
    background-position: center;
    z-index: -1;
    inset: 0;
    background-color: var(--COLOR-THREE);
    opacity: 0.9;
    
}

.headingSection2 {
    display: block;
    height: auto;
    text-align: center;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;

    color: #9D4545;
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
}

/* .sib-form {
    background-color: black; 
} */


.p1 {
    text-align: center;
    font-size: 17px;
    padding: 35px 35px 0 35px;
    line-height: 28px;
}


/* .imagesculpture {
    display: block;
    height: 340px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 4%;
    padding: 30px 12px 40px;
}

.debut {

    text-align: center;
    font-size: 26px;
    line-height: 44px;
    color: #9D4545;
    text-shadow: 2px 2px #E5C2C2;
    padding-top: 20px;
} */

.sib-form-container {
    margin: 10px 20px 20px;
}

@media (min-width: 600px) {

    .headingSection2 {
        padding-top: 40px;
        height: 100px;
        font-size: 40px;
    }

    .p1 {
        font-size: 18px;
        padding: 65px 80px 0 80px;
        line-height: 28px;
    }

    /* .imagesculpture {
        display: block;
        height: auto;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    
        border-radius: 4%;
        padding: 40px;
    } */

    /* .debut {
        height: auto;
        text-align: center;
        font-size: 26px;
        line-height: 64px;
        color: #9D4545;
        text-shadow: 2px 2px #E5C2C2;
    } */

    .sib-form {
        padding: 0;

    }

}

@media (min-width: 768px) {

    .section2 {
        height: 110vh; 
    }
    .p1 {
        font-size: 22px;
        padding: 55px 120px 0 120px;
        line-height: 28px;
    }
}

@media (min-width: 768px) {
    .p1 {
        font-size: 22px;
        padding: 55px 120px 0 120px;
        line-height: 28px;
    }
}

/* ------------------------------------------- */

/* SECTION THREE 'Stepping Stones in Lara's Musical Career' */

.section3 {

    height: auto;
    color: black;
    font-size: 24px;
    position: relative;
    isolation: isolate;

}

.section3::before {
    content: "";
    position: absolute;
    background-image: url(images/LaraSection3.jpeg);
    background-size: cover;
    background-position: 49% 31%;
    z-index: -1;
    inset: 0;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.35;
}

.headingSection3A {
    font-size: 40px;
    opacity: 1;
    padding: 70px 50px 40px;
    color: #9D4545;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.row1 {
    display: block;
}

.column1 {
    flex: 50%;
    padding: 20px 40px 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.s3p2 {
    padding-bottom: 30px;
}


@media (min-width: 600px) {
    .column1 {
        font-size: 17px;
    }

    .headingSection3A {
        padding: 70px 50px 30px;
    }

}

@media (min-width: 768px) {

    .row1 {
        display: flex;
        padding: 20px 70px 20px 70px;
    }
}

@media (min-width: 960px) {
    .row1 {
        display: flex;
        padding: 60px 100px 60px 100px;
    }

}

/* ------------------------------------------- */


/* SECTION FOUR 'City and Its People' */

.section4 {
    height: auto;
    background-color: #704545;
    background-image: url('images/city/__beautiful-hand-draw-city-skyline-sketch_1035-20293.avif');
    background-size: cover;
    background-position: top center;
    position: relative;
    isolation: isolate;
    font-size: 24px;
    padding: 8px;
}

.section4::after {
    content: '';
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: -1;
    inset: 0;
    background-color: #d6afaf;
    opacity: 0.79;
}

.headingSection4 {
    font-size: 40px;
    opacity: 1;
    padding: 70px 10px 50px;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #9D4545;

}

.column2 {
    flex: 50%;
    padding: 10px 80px 30px 80px;
    font-size: 17px;
    text-align: center;
    line-height: 24px;
}

iframe {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 98%;
}



@media (min-width: 600px) {

    .row2 {
        display: block;
    }

    iframe {
        width: 78%;
    }

}

@media (min-width: 768px) {

    .section4 {
        min-height: 120vh;
    }

    .headingSection4 {
        font-size: 40px;
        padding: 40px 10px;
    }

    .row2 {
        display: flex;
    }

    .column2 {
        flex: 50%;
        padding: 10px 100px 50px;
        font-size: 17px;
        text-align: center;
        line-height: 24px;
    }

    iframe {
        width: 65%;
    }
}


/* SECTION FIVE - Social Media Icons */

.section5 {
    background-color: #d69d92;
    padding-top: 20px;
    background-image: url('images/castleWalls/john-salzarulo-njM4it9erx4-unsplash.jpg');
    background-size: cover; 
    background-position: center;
    position: relative; 
    isolation: isolate; 
}

.section5::after {
    content: "";
    position: absolute; 
    background-size: cover; 
    background-position: center;
    z-index: -1;
    inset: 0;
    background-color: var(--COLOR-THREE);
    opacity: 0.8; 
    
}



.LaraAtPiano {
    display: block;
    opacity: 0.8;
    margin: 0px auto;
    padding: 0px;
    width: 80%;
    border-radius: 10%;
}

.LaraContactText {
    padding: 20px 50px 30px 50px;
    font-family: 'Coutard', serif;
    font-size: 26px;
    /* font-weight: bold; */
    line-height: 35px;
    color: #9D4545;
    font-family: "DM Sans", sans serif;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.LaraSMIs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    text-align: center;
    padding-bottom: 30px;
}

.LaraSMIs div {
    background-color: #9D4545;
    margin: 5px;
    font-size: 21px;
    border-radius: 10%;
}


.fa {
    padding: 120px;
    text-decoration: none;
}

.fa-facebook {
    color: white;
    text-decoration: none;
    padding: 14px;
}

.fa-instagram {
    color: white;
    text-decoration: none;
    padding: 14px;
}

.fa-youtube {
    color: white;
    text-decoration: none;
    padding: 14px;
}

.fa-tiktok {
    color: white;
    text-decoration: none;
    padding: 14px;
}

@media (min-width: 600px) {
    .LaraAtPiano {
        width: 60%;
    }
}

@media (min-width: 768px) {

    .section5flexdiv {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 50px 50px;

    }

    .LaraContactText {
        font-size: 22px;
    }

    .LaraAtPiano {
        width: 50%;
        /* height: auto; */
        margin-left: auto;
        margin-right: auto;
        min-height: 240px;
    }
}

@media (min-width: 950px) {
    .LaraContactText {

        padding-left: 180px;
        padding-right: 180px;
    }

    .section5 {
        display: block;

    }

    .LaraContactText {
        padding: 40px 115px 40px;
        font-size: 24px;
    }


}





/* SECTION SIX - Shows and Contact*/

.section6 {

    position: relative;
    height: auto;
    color: black;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.section6::before {
    content: "";
    position: absolute;
    background-image: url(images/2019_ScreamingFieldsdoct.jpeg);
    /* background-size: cover; */
    background-position: 70% 30%;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    opacity: 0.32;
}

#Showsdiv {
    background-color: rgb(190, 153, 153);
    padding: 100px 30px;
}

#Contactdiv {
    background-color: rgb(190, 153, 153);
    padding: 60px 44px;
}

.S6Para {
    margin-top: 30px;
    line-height: 30px;
    font-size: 19px;
}

.h1S6 {
    color: #9D4545;
    font-weight: bold;
    font-size: 42px;
    font-family: "DM Sans", sans serif;

}

/* @media (min-width: 960px) {
    .section6 {
        min-height: 100vh;
    }
} */




/* FOOTER */

.divfooter {
    background-color: #b87070;
    line-height: 40px;
    height: auto;
    display: flex;
}

.divF1a {
    width: 50%;
    text-align: left;
    padding: 20px;

}

.divF1b {
    width: 50%;
    text-align: right;
    padding: 20px;
    color: rgb(107, 18, 18);
}

.foolink {
    text-decoration: none;
    color: rgb(107, 18, 18);

}

.foolink:hover {
    color: rgb(236, 161, 161);
}

@media (max-width: 768px) {
    .divfooter {
        display: block;
    }

    .divF1a {
        width: 100%;
    }

    .divF1b {
        width: 100%;
    }

}

@media (max-width: 768px) {

    .divfooter {

        line-height: 10px;

    }

    .foolink {
        font-size: 14px;
        text-align: center;
    }

    .divF1a {
        display: none;
    }

    .divF1b {
        font-size: 16px;
        text-align: center;
    }

}